.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body
{
  background: url("../pictures/background_main.png");
  background-size: 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;

/* not sure why, but it was getting margins and messing up flex */
  margin: 0;
}

table,
th,
td
{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
  background: #cbac85;

}

a
{
  text-decoration: none;
  color: #2460A7FF;
}
#top
{
  text-align: center;
  width: 80%;
  border: 5px #B3C7D6FF solid;
  margin: 5px auto;
  background-color: #2460A7FF;
  color: white;
  border-radius: 25px;
}

#foot
{
  text-align: center;
  width: 100%;
  border: 0px #B3C7D6FF solid;
  margin: 0 auto ;
  background-color: #2460A7FF;
  color: white;

}

#main_nav
{
  text-align: center;
  width: 80%;
  border: 5px #2460A7FF solid;
  margin: 5px auto;
  background-color: #B3C7D6FF;
  color: white;
  border-radius: 25px;
}

#main_nav ul
{
  list-style: none;
}
#main_nav ul li
{
  display: inline-block;
  float: left;
  width: 20%;
  color: #D9B48FFF;
  text-decoration: none;
  background-color: #B3C7D6FF;

}

#main_nav ul li a:hover
{
  background: #cbac85;
}

#main_nav ul li a
{
  color: black;
  text-decoration: none;
  background-color: #B3C7D6FF;
  border: 2px solid black;
  padding: 5px;
}

.img_pfp
{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: block;
  margin: auto;
}

.img_def
{
  height: 200px;
  width: 80%;
  border: 5px #cbac85 solid;
  border-radius: 5%;
  display: block;
  margin: auto;
}
.img_education
{
  height: 300px;
  width: 60%;
  border: 5px #cbac85 solid;
  border-radius: 5%;
  display: block;
  margin: auto;
}

.info_box
{
  width: 80%;
  border: 5px #2460A7FF solid;
  margin: 5px auto;
  background-color: #B3C7D6FF;
  border-radius: 25px;
}


.table
{
    margin: 10px auto;

}
.padding
{
  padding: 4px;
}

.center
{
  text-align: center;
}
